@import url("bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

@-webkit-keyframes heading-anime {
    from {
        fill: transparent
    }
    to {
        fill: #fff
    }
}

@keyframes heading-anime {
    from {
        fill: transparent
    }
    to {
        fill: #fff
    }
}

body {
    font-size: 16px;
    font-family: 'Montserrat', 'Arial', sans-serif
}

a {
    color: inherit
}

a:hover {
    text-decoration: none;
    color: inherit
}

.animate {
    -webkit-animation: heading-anime 1.5s 1.5s forwards;
    animation: heading-anime 1.5s 1.5s forwards
}

.heading-container {
    margin-top: 150px;
    -webkit-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.5))
}

.page-header {
    height: 80px;
    background-color: #252525;
    color: #fafafa
}

.page-header__logo {
    height: 70px
}

.main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.main-menu__item {
    height: 80px;
    padding: 0 0.5em;
    position: relative;
    z-index: 2;
    line-height: 80px
}

.main-menu__item:hover.main-menu__item:before {
    opacity: 1
}

.main-menu__item:before {
    content: '';
    display: block;
    background-color: #4b3d59;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    -webkit-transform: skew(-25deg);
    transform: skew(-25deg);
    z-index: -1;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s
}

.main-menu__item_bold {
    font-weight: bold
}

.main-menu__link {
    height: 80px
}

.content {
    min-height: 1080px;
    background-color: #7298a5;
    background-image: url("../assets/img/bg1_1.jpg");
    background-size: cover;
    overflow: hidden;
    position: relative
}

.content__title {
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5)
}

.wave-pattern {
    position: absolute;
    fill: #282836;
    bottom: 0;
    left: 0;
    right: 0
}

.table {
    margin-top: 20px;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5)
}

.table__row_border-bold {
    border-bottom: 2px solid #000
}

.table__cell {
    padding: 0;
    border: 1px solid #000;
    text-align: center;
    position: relative;
    min-width: 25px
}

.table__cell_win {
    color: green
}

.table__cell_lose {
    color: red
}

.table__cell_bold {
    font-weight: bold
}

.table__cell:hover .table__popup {
    visibility: visible;
    opacity: 1
}

.table__cell:nth-of-type(32) {
    border-right: 2px solid #000
}

.table__cell:nth-of-type(34) {
    border-right: 2px solid #000
}

.table__header {
    padding: 1em;
    border: 1px solid #000;
    text-align: center;
    font-weight: bold
}

.table__win {
    color: green;
    margin-right: 0.1em
}

.table__lose {
    color: red
}

.table__popup {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    font-weight: normal;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    position: absolute;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    background-color: #f0f0f0;
    padding: 0.7em;
    padding-left: 49px;
    border-radius: 10px;
    border-top-left-radius: 0;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
    max-height: 15em;
    overflow-y: auto
}

.table__popup-item {
    line-height: 1.2;
    padding: 0 0.2em;
    margin: 0.2em 0;
    white-space: nowrap
}

.table__popup-item_win {
    background-color: rgba(59, 194, 78, 0.3)
}

.table__popup-item_lose {
    background-color: rgba(180, 13, 13, 0.25)
}

.table__hero-img {
    width: 34px;
    position: absolute;
    left: 10px;
    border-radius: 2px
}

.table__kill {
    color: #3bc24e
}

.table__death {
    color: #ff0b28
}

.table__assist {
    color: #e0a507
}

.table-btns-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.select {
    border: none;
    cursor: pointer;
    height: 2.4em;
    padding: 0 0.2em;
    border-radius: 5px;
    margin-right: 5px
}

.page-footer {
    background-color: #282836;
    color: #fafafa
}

.page-footer__logo {
    max-width: 225px
}

.footer-menu__item {
    line-height: 2;
    padding-left: 30px
}

.footer-menu__item:hover a {
    color: #bebebe;
    -webkit-transition: 0.3s;
    transition: 0.3s
}

@media screen and (max-width: 1366px) {
    .content {
        min-height: 780px
    }
}

@media screen and (max-width: 1199px) {
    .table__cell {
        min-width: 22px
    }
}

@media screen and (max-width: 991px) {
    .content {
        overflow-x: auto
    }

    .wave-pattern {
        display: none
    }

    .container {
        width: 97.5%;
        max-width: 100%
    }
}

/*# sourceMappingURL=main.css.map */
